In [1]:
from google.cloud import bigquery

In [3]:
gbq_api = {
  "type": "service_account",
  "project_id": "wagon-bootcamp-401514",
  "private_key_id": "ed3cd174bd20958a93117498c8e9165c37a35369",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC3j3slCSjO/LPu\nWNKOJuA0jfJoQp5YcxH3DsIJwmN4OKmvppwtZG5lvUL9KwgsOlunQ35519vDyf7d\n10J1nGOvv5rw9je1MpxeMHsrWmKygUZUDgDTvZZEXssBIxqdhYv3Ex0GGe9O2wDi\nuG486iVDGtDG1KqZgcGJU/RZWNTqLQcTnHqphrccAxxQPmSi5Pc7800j6v5WDqGv\n3+18qpgzWDVokASSTigaZV2bVxhqGSlLTHxAZUjORySYq1xzalCGRK5goh9zg0vi\neO/x9H71DWYEcdaZQnDAxA3G7jF8pvobvYIOo//Bs5MtIwGu/+YPOVhVp0ruN2q4\nPYnRfz8jAgMBAAECggEABcbbssYvhRgZ14nvEm8xxiWjd9mE3za73YEW5TS7aaiq\n2m7NYnZTLRuANLR6fN3XTZPHsrDy5x3/yd6A5m+mCX1ntGajSS4PEr3G2o3tJj4A\nRxvrtb41MPCkxePjbgqqZXuyAaOmTt6AkCIKwhsCUjLRWDiQJ+WYACjmuzsa9EWp\nunF6cVwnHB85OivUh0lCr5CX6C5En8nqUmbNOubZv5O7loGC9NySfRZu9T1bo+QN\nIs6aAMIbkJ9QOxWsntlgoQaXP+Gi8HDRD8wptT1N8yv5m7DQJgqhGa2Jb+Pohjlj\nYoGgj1aXrmEbqVvvqGYjpMB1gg1YnZlGH6sKpNJC5QKBgQD4Z6wTIaolG/GZFP6x\njSXIJ6WeiOXkWZOQ/tWYt8a02D+RUxG5fwJg2f8Uo9mZdmipBgsxGbcgkofouqyU\nLnMGr+1OsP2H1sk5Wk7fed5WudA3vXNYFW6+utSdf5m0SlNZJSShu7qTlOcyMOP4\n9hcDIRANgnmIIYkGoFoFHnW9LQKBgQC9LEE4se1Es2HWd8AzyMF7ztKucojhYUMi\nhpNYOCBwzQq4CbCBRSCKaY4vMKu+97MaseTI5z2Z5l3hBel4VRobbY5DY9GrpfEu\nkbGaoMv4okTXbxhU1AlsGtUsNQqV4VkzYJhfHjQUPRWa9DpwghLFpreAwRM9gAzR\n0ttZha6/jwKBgQDvDO3291XDIpItTJwSiBAM/8KNv5blWyL8zZEGyAzs6pK6KuQK\nzGSgignFdi0pV18/EfbhSKsIKJusZ0E/1TeS/ujz6rYB7Lx3eiYfQCus8GKl0abX\n5MBPwoJsE2j6rPBrAKixEHVsI0ce8Rfi9giNVVsadS65x/QTMWuQM5EA/QKBgHex\nGos+uLsxLIRAPJIHQbSOResueMDxg0LDF1NIH+5/LXsIVm9UR6SL6PSevOwVWXNY\nf0NGXEmV4mxQC0qhveUAynSFIdKTKiim8lK9zpDASwJsPl7d0iBeUeaooMv4SzIg\nugfk2lq704G5aYhqJGp+c7i5cO0GqhXQbg0Ucl6tAoGAbE+vsDLU5G8csL1fYbR9\nyKe1CYIbhgBmezxui2+s25OqfPvYp8afsIfhigne0nWnYnYJlZ0aXmXqHU4qAg4L\nALZzGcrb7UnPZ9V2/yMSdSQsbQEpQbehjdnv5Dl56Php7+WcmcteO4VYNn4Zby37\ngNIdPYesdnSkEMd93Iq0+YM=\n-----END PRIVATE KEY-----\n",
  "client_email": "bg-example@wagon-bootcamp-401514.iam.gserviceaccount.com",
  "client_id": "102816860579402915141",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/bg-example%40wagon-bootcamp-401514.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}

In [4]:
gbq_api["private_key"]

'-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC3j3slCSjO/LPu\nWNKOJuA0jfJoQp5YcxH3DsIJwmN4OKmvppwtZG5lvUL9KwgsOlunQ35519vDyf7d\n10J1nGOvv5rw9je1MpxeMHsrWmKygUZUDgDTvZZEXssBIxqdhYv3Ex0GGe9O2wDi\nuG486iVDGtDG1KqZgcGJU/RZWNTqLQcTnHqphrccAxxQPmSi5Pc7800j6v5WDqGv\n3+18qpgzWDVokASSTigaZV2bVxhqGSlLTHxAZUjORySYq1xzalCGRK5goh9zg0vi\neO/x9H71DWYEcdaZQnDAxA3G7jF8pvobvYIOo//Bs5MtIwGu/+YPOVhVp0ruN2q4\nPYnRfz8jAgMBAAECggEABcbbssYvhRgZ14nvEm8xxiWjd9mE3za73YEW5TS7aaiq\n2m7NYnZTLRuANLR6fN3XTZPHsrDy5x3/yd6A5m+mCX1ntGajSS4PEr3G2o3tJj4A\nRxvrtb41MPCkxePjbgqqZXuyAaOmTt6AkCIKwhsCUjLRWDiQJ+WYACjmuzsa9EWp\nunF6cVwnHB85OivUh0lCr5CX6C5En8nqUmbNOubZv5O7loGC9NySfRZu9T1bo+QN\nIs6aAMIbkJ9QOxWsntlgoQaXP+Gi8HDRD8wptT1N8yv5m7DQJgqhGa2Jb+Pohjlj\nYoGgj1aXrmEbqVvvqGYjpMB1gg1YnZlGH6sKpNJC5QKBgQD4Z6wTIaolG/GZFP6x\njSXIJ6WeiOXkWZOQ/tWYt8a02D+RUxG5fwJg2f8Uo9mZdmipBgsxGbcgkofouqyU\nLnMGr+1OsP2H1sk5Wk7fed5WudA3vXNYFW6+utSdf5m0SlNZJSShu7qTlOcyMOP4\n9hcDIRANgnmIIYkGoFoFHnW9LQKBgQC9LEE4se1Es2HWd8AzyMF7ztKucojhYUMi\nhpNYOCBwzQq4CbCBRSCKaY4vMKu+97MaseTI5z2Z5l3hBel4VRobbY5DY9GrpfEu\nkbGaoMv4okTXbxhU1AlsGtUsNQqV4VkzYJhfHjQUPRWa9DpwghLFpreAwRM9gAzR\n0ttZha6/jwKBgQDvDO3291XDIpItTJwSiBAM/8KNv5blWyL8zZEGyAzs6pK6KuQK\nzGSgignFdi0pV18/EfbhSKsIKJusZ0E/1TeS/ujz6rYB7Lx3eiYfQCus8GKl0abX\n5MBPwoJsE2j6rPBrAKixEHVsI0ce8Rfi9giNVVsadS65x/QTMWuQM5EA/QKBgHex\nGos+uLsxLIRAPJIHQbSOResueMDxg0LDF1NIH+5/LXsIVm9UR6SL6PSevOwVWXNY\nf0NGXEmV4mxQC0qhveUAynSFIdKTKiim8lK9zpDASwJsPl7d0iBeUeaooMv4SzIg\nugfk2lq704G5aYhqJGp+c7i5cO0GqhXQbg0Ucl6tAoGAbE+vsDLU5G8csL1fYbR9\nyKe1CYIbhgBmezxui2+s25OqfPvYp8afsIfhigne0nWnYnYJlZ0aXmXqHU4qAg4L\nALZzGcrb7UnPZ9V2/yMSdSQsbQEpQbehjdnv5Dl56Php7+WcmcteO4VYNn4Zby37\ngNIdPYesdnSkEMd93Iq0+YM=\n-----END PRIVATE KEY-----\n'

In [7]:
from google.cloud import bigquery
from google.oauth2 import service_account

# Set your project ID, dataset, and table
PROJECT = "wagon-bootcamp-401514"
DATASET = "01_household_energy"
TABLE = "recs2020"
LOCATION = "EU"

# Path to your service account key file (JSON)
KEY_PATH = "wagon-bootcamp-401514-ed3cd174bd20.json"

# Create credentials from the service account key file
credentials = service_account.Credentials.from_service_account_file(KEY_PATH, scopes=["https://www.googleapis.com/auth/cloud-platform"])

# Create a BigQuery client using the credentials
client = bigquery.Client(credentials=credentials, project=PROJECT, location=LOCATION)

# Your SQL query
query = f"""
    SELECT *
    FROM `{PROJECT}.{DATASET}.{TABLE}`
"""

# Execute the query
query_job = client.query(query)
result = query_job.result()

# Process the result as needed
df = result.to_dataframe()

In [8]:
df.head()

,DOEID,REGIONC,DIVISION,STATE_FIPS,state_postal,state_name,BA_climate,IECC_climate_code,UATYP10,HDD65,...,TOTALBTUWTH,TOTALDOLWTH,TOTALBTUOTH,TOTALDOLOTH,TOTALBTU,TOTALDOL,DBT1,DBT99,GWT,WOODTYPE
0,100001,WEST,Mountain South,35,NM,New Mexico,Mixed-Dry,4B,U,3844,...,21241.34,146.26,35017.07,1340.37,144647.71,2656.89,92.9,21.6,58.5,-2
1,100012,SOUTH,West South Central,48,TX,Texas,Hot-Dry,3B,U,2148,...,8774.40,93.57,21735.81,723.29,73867.11,1572.92,98.5,27.5,66.4,-2
2,100019,SOUTH,West South Central,5,AR,Arkansas,Mixed-Humid,3A,U,3078,...,6097.55,225.32,18507.20,683.89,51945.31,1635.06,93.0,23.3,61.9,-2
3,100036,SOUTH,West South Central,40,OK,Oklahoma,Mixed-Humid,3A,U,3137,...,3852.27,126.31,17746.70,475.64,70527.71,1394.84,98.6,18.8,59.5,-2
4,100053,SOUTH,South Atlantic,24,MD,Maryland,Mixed-Humid,4A,U,3776,...,3118.09,111.03,16136.91,519.31,59388.60,1328.63,91.3,17.9,56.7,-2

In [9]:
from google.cloud import bigquery

PROJECT = "wagon-bootcamp-401514"
DATASET = "01_household_energy"
TABLE = "recs2020"
#MY_PROJECT = "melodic-arcadia-401515"
LOCATION = "EU"


query = f"""
    SELECT *
    FROM `{PROJECT}.{DATASET}.{TABLE}`
    """

client = bigquery.Client()
query_job = client.query(query)
result = query_job.result()
df = result.to_dataframe()

In [10]:
df.head()

,DOEID,REGIONC,DIVISION,STATE_FIPS,state_postal,state_name,BA_climate,IECC_climate_code,UATYP10,HDD65,...,TOTALBTUWTH,TOTALDOLWTH,TOTALBTUOTH,TOTALDOLOTH,TOTALBTU,TOTALDOL,DBT1,DBT99,GWT,WOODTYPE
0,100001,WEST,Mountain South,35,NM,New Mexico,Mixed-Dry,4B,U,3844,...,21241.34,146.26,35017.07,1340.37,144647.71,2656.89,92.9,21.6,58.5,-2
1,100012,SOUTH,West South Central,48,TX,Texas,Hot-Dry,3B,U,2148,...,8774.40,93.57,21735.81,723.29,73867.11,1572.92,98.5,27.5,66.4,-2
2,100019,SOUTH,West South Central,5,AR,Arkansas,Mixed-Humid,3A,U,3078,...,6097.55,225.32,18507.20,683.89,51945.31,1635.06,93.0,23.3,61.9,-2
3,100036,SOUTH,West South Central,40,OK,Oklahoma,Mixed-Humid,3A,U,3137,...,3852.27,126.31,17746.70,475.64,70527.71,1394.84,98.6,18.8,59.5,-2
4,100053,SOUTH,South Atlantic,24,MD,Maryland,Mixed-Humid,4A,U,3776,...,3118.09,111.03,16136.91,519.31,59388.60,1328.63,91.3,17.9,56.7,-2

In [12]:
features = ['TYPEHUQ', 'STORIES', 'YEARMADERANGE', 'WALLTYPE', 'ROOFTYPE', 'WINDOWS', 'SWIMPOOL', 'DISHWASH', 'CWASHER', 'DRYER', 'TELLWORK', 'TELLDAYS', 'HEATHOME', 'EQUIPM', 'NUMPORTEL', 'AIRCOND', 'NUMPORTAC', 'SMARTMETER', 'SOLAR', 'NCOMBATH', 'NHAFBATH', 'TOTROOMS', 'NUMFRIG', 'MICRO', 'TVCOLOR', 'DESKTOP', 'NUMLAPTOP', 'LGTIN1TO4', 'LGTIN4TO8', 'LGTINMORE8', 'NHSLDMEM', 'SQFTEST']

In [13]:
len(features)

32

In [26]:
import pandas as pd

In [27]:
pd.options.display.width = 35

In [28]:
df[features]

,TYPEHUQ,STORIES,YEARMADERANGE,WALLTYPE,ROOFTYPE,WINDOWS,SWIMPOOL,DISHWASH,CWASHER,DRYER,...,NUMFRIG,MICRO,TVCOLOR,DESKTOP,NUMLAPTOP,LGTIN1TO4,LGTIN4TO8,LGTINMORE8,NHSLDMEM,SQFTEST
0,2,1,4,1,5,4,0,1,1,1,...,2,1,3,0,1,6,8,3,2,2100
1,2,1,8,2,2,4,0,1,1,1,...,1,1,5,1,2,4,5,2,5,3080
2,3,1,4,6,5,2,0,1,1,1,...,1,1,3,1,1,3,15,3,3,990
3,2,1,2,1,5,4,0,1,1,1,...,1,1,1,1,3,8,5,6,2,1600
4,3,2,1,1,5,4,0,1,1,1,...,1,1,4,0,3,23,10,12,2,1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18491,5,-2,7,4,-2,1,-2,1,1,1,...,1,1,1,0,2,0,0,2,1,1200
18492,5,-2,5,2,-2,2,-2,1,0,0,...,1,1,1,0,2,2,2,1,3,790
18493,5,-2,4,2,-2,2,-2,0,0,0,...,1,1,2,0,0,0,2,0,1,600
18494,4,-2,3,4,6,3,-2,1,0,0,...,1,1,0,1,2,1,0,0,7,1010
18495,5,-2,4,7,-2,5,-2,1,1,1,...,1,1,2,0,3,2,0,2,2,1130

In [20]:
X = df[features]
y = df["KWH"]

In [22]:
X.shape

(18496, 32)

In [23]:
y.shape

(18496,)

In [35]:
X.dtypes

TYPEHUQ          Int64
STORIES          Int64
YEARMADERANGE    Int64
WALLTYPE         Int64
ROOFTYPE         Int64
WINDOWS          Int64
SWIMPOOL         Int64
DISHWASH         Int64
CWASHER          Int64
DRYER            Int64
TELLWORK         Int64
TELLDAYS         Int64
HEATHOME         Int64
EQUIPM           Int64
NUMPORTEL        Int64
AIRCOND          Int64
NUMPORTAC        Int64
SMARTMETER       Int64
SOLAR            Int64
NCOMBATH         Int64
NHAFBATH         Int64
TOTROOMS         Int64
NUMFRIG          Int64
MICRO            Int64
TVCOLOR          Int64
DESKTOP          Int64
NUMLAPTOP        Int64
LGTIN1TO4        Int64
LGTIN4TO8        Int64
LGTINMORE8       Int64
NHSLDMEM         Int64
SQFTEST          Int64
dtype: object

In [37]:
for x in X.dtypes:
    print(x)
    break

Int64

In [39]:
for x in X.columns:
    print(f"{x}: int")

TYPEHUQ: int
STORIES: int
YEARMADERANGE: int
WALLTYPE: int
ROOFTYPE: int
WINDOWS: int
SWIMPOOL: int
DISHWASH: int
CWASHER: int
DRYER: int
TELLWORK: int
TELLDAYS: int
HEATHOME: int
EQUIPM: int
NUMPORTEL: int
AIRCOND: int
NUMPORTAC: int
SMARTMETER: int
SOLAR: int
NCOMBATH: int
NHAFBATH: int
TOTROOMS: int
NUMFRIG: int
MICRO: int
TVCOLOR: int
DESKTOP: int
NUMLAPTOP: int
LGTIN1TO4: int
LGTIN4TO8: int
LGTINMORE8: int
NHSLDMEM: int
SQFTEST: int

In [40]:
x_list = [f"{x}: int" for x in X.columns]
x_list

['TYPEHUQ: int',
 'STORIES: int',
 'YEARMADERANGE: int',
 'WALLTYPE: int',
 'ROOFTYPE: int',
 'WINDOWS: int',
 'SWIMPOOL: int',
 'DISHWASH: int',
 'CWASHER: int',
 'DRYER: int',
 'TELLWORK: int',
 'TELLDAYS: int',
 'HEATHOME: int',
 'EQUIPM: int',
 'NUMPORTEL: int',
 'AIRCOND: int',
 'NUMPORTAC: int',
 'SMARTMETER: int',
 'SOLAR: int',
 'NCOMBATH: int',
 'NHAFBATH: int',
 'TOTROOMS: int',
 'NUMFRIG: int',
 'MICRO: int',
 'TVCOLOR: int',
 'DESKTOP: int',
 'NUMLAPTOP: int',
 'LGTIN1TO4: int',
 'LGTIN4TO8: int',
 'LGTINMORE8: int',
 'NHSLDMEM: int',
 'SQFTEST: int']

In [54]:
new_x_list = ", ".join(x_list)

In [55]:
new_x_list

'TYPEHUQ: int, STORIES: int, YEARMADERANGE: int, WALLTYPE: int, ROOFTYPE: int, WINDOWS: int, SWIMPOOL: int, DISHWASH: int, CWASHER: int, DRYER: int, TELLWORK: int, TELLDAYS: int, HEATHOME: int, EQUIPM: int, NUMPORTEL: int, AIRCOND: int, NUMPORTAC: int, SMARTMETER: int, SOLAR: int, NCOMBATH: int, NHAFBATH: int, TOTROOMS: int, NUMFRIG: int, MICRO: int, TVCOLOR: int, DESKTOP: int, NUMLAPTOP: int, LGTIN1TO4: int, LGTIN4TO8: int, LGTINMORE8: int, NHSLDMEM: int, SQFTEST: int'